You can use divs too:<fc:#EF7769>
<div:align=center,width=full>
<nbr><div:width=50,lncolor=clGray,thick=1><c>1</c></div><div:width=200,lncolor=clGray,thick=1,thick_left=0>JOHN</div><div:width=75,lncolor=clGray,thick=1,thick_left=0><r>100,000</r></div>
<div:width=50,lncolor=clGray,thick=1,thick_top=0><c>2</c></div><div:width=200,lncolor=clGray,thick=1,thick_left=0,thick_top=0>SARAH</div><div:width=75,lncolor=clGray,thick=1,thick_left=0,thick_top=0><r>180,000</r></div>
<div:width=50,lncolor=clGray,thick=1,thick_top=0><c>3</c></div><div:width=200,lncolor=clGray,thick=1,thick_left=0,thick_top=0>ERIC</div><div:width=75,lncolor=clGray,thick=1,thick_left=0,thick_top=0,color=clLime><r>1.150,000</r></div>
</div></fc>
HTML Lists:<fc:#2768EF>
<nbr><ul>
<li>Item 1</li>
<li>Item 2</li>
<nbr><ol>
<li>Sub item 1</li>
<li>Sub item 2</li>
<nbr><ol>
<li><i>Detail 2.1</i></li>
<li><i>Detail 2.2</i></li>
<nbr></ol>
<li>Sub item 3</li>
<nbr></ol>
<li>Item 3</li>
<nbr></ul></fc>
<nbr><div:x=200,y=100,width=120><c>This is a <b>floating div area</b>, where you can write any text and even use tags!!!</c></div>
