<imgres:LOGO><fc:clGreen> Welcome to my app!</fc>

<b>This is an important text</b> and <i>this is italic text</i>.<br><u>But we have underline too</u>, and <s>strike-out</s> if you want.<br><br>You can change the <fn:Courier New>font name</fn> and the <fs:14>font size</fs><br>The <fc:clRed>colors</fc> are <bc:clYellow>allowed</bc> too! <img:0> <i>and images</i> <img:1><br><br><c>Alignment, we have!</c><br><r>This is great</r>

Click <a:www.google.com.br>here</a> to open Google.
This is an image from resource: <a:INFO_ABOUT><imgres:about> About the program</a>
